/*
@media screen and (orientation:landscape) {

  .container {
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 1280;
    height: 720 ;
    overflow: scroll;
  }
}
*/
body {
	margin: 0;
}
.center {
	margin: 0 auto;
}